@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>    
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src='@Url.Content("~/Scripts/app.jsx")'></script>
    
    <div id="content-head">
        <h1>AutoSoft Shop</h1>
    </div>
    <div id="content">
        <article>
            <p>
                This is ASP.NET app. Here I also use React for frontend and Postgres for database.                
            </p>
            <p>
                This application has three tables: clients, orders and products.
            </p>
            <p>
                ----
            </p>
        </article>
    </div>
</body>
</html>